{% extends 'base.html' %}

{% block title %}Dashboard{% endblock %}

{% block content %}
<div id="dashboardContent">
    <h2>Dashboard</h2>
    {% if swarm %}
        <h3>Swarm Name: {{ swarm.swarm_name }}</h3>
        <form method="post" action="{% url 'add_drone' %}">
            {% csrf_token %}
            <input type="hidden" name="swarm_id" value="{{ swarm.swarm_ID }}" />
            <button type="submit">Add Drone</button>
        </form>
    {% else %}
        <form method="post" action="{% url 'add_swarm' %}">
            {% csrf_token %}
            <button type="submit">Add Swarm</button>
        </form>
    {% endif %}
    <p><strong>Output box:</strong></p>
    <div style="height: 400px; width: available; border:1px solid black;">
    </div>
    <p><button>Takeoff</button></p>
</div>
{% endblock %}