<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %} - Drone Launchpad</title>
    <link rel="shortcut icon" href="{% static 'favicon.ico' %}" >
    <style>
        header nav ul {
            list-style: none;
            padding: 0;
        }
        header nav ul li {
            display: inline;
            margin-right: 20px;
        }
        #instanceList li.selected {
            background-color: #f0f0f0;
        }
    </style>
</head>
<body>
<header>
    <h1>Drone Launchpad</h1>
    <nav>
        <ul>
            <li><a href="{% url 'index' %}">Home</a></li>
            {% if user.is_authenticated %}
                <li><a href="{% url 'dashboard' %}">Dashboard</a></li>
                <li><a href="{% url 'crud' model='ap' %}">APs</a></li>
                <li><a href="{% url 'crud' model='swarm' %}">Swarms</a></li>
                <li><a href="{% url 'crud' model='drone' %}">Drones</a></li>
                <li><a href="{% url 'logout' %}">Log Out</a></li>
            {% endif %}
        </ul>
    </nav>
</header>
{% block content %}
{% endblock %}
</body>
</html>